<head>
  <style>
      span.red {
          color: red;
      }

      td {
          text-align: center;
          padding: 5px;
      }

      tr.red {
          color: red;
      }
  </style>
</head>
<% provide(:title, 'BuyDone') %>
<% Cone.update(params[:pid], :stock => (params[:stock].to_i - params[:quant_dd].to_i)) %>
<% @my_cone = Cone.where({:id => params[:pid]}).first %>

<table border="1" bordercolor="#ffffff" align="center" cellpadding="10" cellspacing="0"
       style="background-color:#B3E7FF; width: 960px; height: 300px;">
  <tr>
    <td>
      <div align="center"><%= image_tag("main-banner.gif") %></div>
    </td>
  </tr>
  <tr>
    <td><h4 align="center">
      <span class="red">Revised inventory (post purchase):</span></h4></td>
  </tr>
  <tr>
    <td>
      <div align="center">
        <table width="960" border="0" bordercolor="#ffffff" align="center" cellpadding="5" cellspacing="0">
          <tr>
            <th>
              <div align="center">Treat Name</div>
            </th>

            <th>
              <div align="center">Flavor</div>
            </th>
            <th>
              <div align="center">Number Of Scoops</div>
            </th>
            <th>
              <div align="center">Price</div>
            </th>
            <th>
              <div align="center">Stock</div>
            </th>
          </tr>
          <% Cone.all.each do |dd| %>
              <% if dd.id == @my_cone.id %>
                  <tr class="red">
              <% else %>
                  <tr>
              <% end %>
              <td align="center"><%= dd.pname %></td>
              <td align="center"><%= dd.flavor %></td>
              <td align="center"><%= dd.scoops %></td>
              <td align="center"><%= number_to_currency(dd.price) %></td>
              <td align="center"><%= dd.stock %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div align="center">
        <?php
						if (!IsSet($_GET['adminButton']))
						{
							echo "<h4 align='center'>Wanna be an
        administrator?:</h4>";

        $selectPIDCommand = "SELECT pid, pname FROM nevermelt ORDER BY pid;";

        $rs2 = mysqli_query($conn,$selectPIDCommand) or die ("Couldn't execute
        query 1.");

        echo "
        <form action='' method='GET'>\n";

          echo "<select name='pid'>\n";

          while($row = mysqli_fetch_assoc($rs2))
          {
          extract($row);

          echo "
          <option value='$pid'>$pname</option>
          \n";
          }

          echo "</select>";

          echo "&nbsp;";

          echo "<input type='submit' name='adminButton' value='Restock'/>";

          echo
          "&nbsp;<input type='submit' name='myButton' value='Back To Treats'/>";

          echo "
        </form>
        ";
        }

        if (IsSet($_GET['adminButton']) && ($_GET['adminButton'] == "Restock"))
        {
        $pid = $_GET['pid'];

        $selectCommand = "SELECT pname, image, stock FROM nevermelt WHERE pid =
        $pid;";

        $rs3 = mysqli_query($conn,$selectCommand) or die ("Couldn't execute
        query.");

        while($row = mysqli_fetch_assoc($rs3))
        {
        extract($row);
        }

        echo "
        <table border='0' bordercolor='#ffffff' align='center' cellpadding='0' cellspacing='0'
               style='background-color:#B3E7FF;'>";
          echo "
          <tr>";
            echo "
            <td>
              <div align='center'>Restock:</div>
            </td>
            ";
            echo "
            <td>
              <div align='center'></div>
            </td>
            ";
            echo "
          </tr>
          ";
          echo "
          <tr>";
            echo "
            <td>
              <div align='center'>
                <img src='$image' alt='' width='70' height='70'/></div>
            </td>
            ";
            echo "
            <td>
              <div align='center'>
                <form action='inventory.php' method='GET'>
                  <input type='submit' name='restockButton'
                         value='Restock'/><input type='hidden' name='pid' value='$pid'/><input type='hidden' name='stock' value='$stock'/>
                </form>
              </div>
            </td>
            ";
            echo "
          </tr>
          ";
          echo "
          <tr>";
            echo "
            <td>
              <div align='center'>$pname?</div>
            </td>
            ";
            echo "
            <td>
              <div align='center'></div>
            </td>
            ";
            echo "
          </tr>
          ";
          echo "
        </table>
        ";
        }

        mysqli_close($conn);
        ?>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div align="center"><%= image_tag "bottom-banner.gif" %></div>
    </td>
  </tr>
</table>
