<head>
  <style>
      span.red {
          color: red;
      }

      div.red {
          color: red;
      }

      td {
          text-align: center;
          padding: 5px;
      }

      tr.red {
          color: red;
      }
  </style>
</head>
<% provide(:title, 'BuyDone') %>
<% if buydone1? %>
    <% Cone.update(params[:pid], :stock => (params[:stock].to_i - params[:quant_dd].to_i)) %>
    <% @my_cone = Cone.where({:id => params[:pid]}).first %>
<% end %>

<table border="1" bordercolor="#ffffff" align="center" cellpadding="10" cellspacing="0"
       style="background-color:#B3E7FF; width: 960px; height: 300px;">
  <tr>
    <td>
      <div align="center"><%= image_tag("main-banner.gif") %></div>
    </td>
  </tr>
  <tr>
    <td>
      <h4 align="center">
        <% if buydone1? %>
            <span class="red">Revised inventory (post purchase):</span>
        <% else %>
            <span>Revised inventory (post purchase):</span>
        <% end %>
      </h4>
    </td>
  </tr>
  <tr>
    <td>
      <div align="center">
        <table width="960" border="0" bordercolor="#ffffff" align="center" cellpadding="5" cellspacing="0">
          <tr>
            <th>
              <div align="center">Treat Name</div>
            </th>

            <th>
              <div align="center">Flavor</div>
            </th>
            <th>
              <div align="center">Number Of Scoops</div>
            </th>
            <th>
              <div align="center">Price</div>
            </th>
            <th>
              <div align="center">Stock</div>
            </th>
          </tr>
          <% Cone.all.each do |dd| %>
              <% if buydone1? and dd.id == @my_cone.id %>
                  <tr class="red">
              <% elsif buydone2? and dd.id == params[:names_dd].to_i %>
                  <tr class="red">
              <% else %>
                  <tr>
              <% end %>
              <td align="center"><%= dd.pname %></td>
              <td align="center"><%= dd.flavor %></td>
              <td align="center"><%= dd.scoops %></td>
              <td align="center"><%= number_to_currency(dd.price) %></td>
              <td align="center"><%= dd.stock %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div align="center">
        <% if buydone1? %>
            <h4 align='center'>Wanna be an administrator and restock
              product?:</h4>
            <%= form_tag(buydone_path, {:method => 'get'}) do %>
                <div align="center">
                  <%= select_tag(:names_dd, options_from_collection_for_select(Cone.all, 'id', 'pname')) %>
                  <%= submit_tag('Restock', {:name => 'restock_btn'}) %>
                  <%= submit_tag('Back To Treats', {:name => 'back_btn'}) %>
                </div>
            <% end %>
        <% end %>
        <% unless buydone1? %>
            <% @restock_cone = Cone.where({:id => params[:names_dd]}).first %>
            <table border='0' bordercolor='#ffffff' align='center' cellpadding='0' cellspacing='0'
                   style='background-color:#B3E7FF;'>
              <tr>
                <td>
                  <div class="red" align='center'>Restock:</div>
                </td>
                <td>
                  <div align='center'></div>
                </td>
              </tr>
              <tr>
                <td>
                  <div align='center'>
                    <%= image_tag "#{@restock_cone.image}", size: '70' %>
                  </div>
                </td>
                <td>
                  <div align='center'>
                    <%= form_tag(inventory_path, {:method => 'get'}) do %>
                        <div align="center">
                          <%= submit_tag('Restock', {:name => 'restock_btn2'}) %>
                          or
                          <%= submit_tag('Back To Treats', {:name => 'back_btn'}) %>
                        </div>
                        <%= hidden_field_tag :pid, @restock_cone.id %>
                    <% end %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="red" align='center'><%= @restock_cone.pname %></div>
                </td>
                <td>
                  <div align='center'></div>
                </td>
              </tr>
            </table>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div align="center"><%= image_tag 'bottom-banner.gif' %></div>
    </td>
  </tr>
</table>
