<head>
  <style>
      span.red {
          color: red;
      }

      div.red {
          color: red;
      }

      td {
          text-align: center;
          padding: 5px;
      }

      tr.red {
          color: red;
      }
  </style>
</head>
<% provide(:title, 'Inventory') %>
<% if inventory2? %>
    <% Cone.update(params[:pid], :stock => (params[:stock].to_i + params[:quant_dd].to_i)) %>
<% end %>
<% @my_cone = Cone.where({:id => params[:pid]}).first %>

<table border="1" bordercolor="#ffffff" align="center" cellpadding="10" cellspacing="0"
       style="background-color:#B3E7FF; width: 960px; height: 300px;">
  <tr>
    <td>
      <div align="center"><%= image_tag("main-banner.gif") %></div>
    </td>
  </tr>
  <tr>
    <td>
      <table border='0' bordercolor='#ffffff' align='center' cellpadding='0' cellspacing='0'
             style='background-color:#B3E7FF;'>
        <tr>
          <td>
            <% if inventory2? %>
                <div align='center'>Thank You. Bye!</div>
            <% else %>
                <div class="red" align='center'>Restock:</div>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <% if inventory2? %>
                <div align='center'>Thank You. BXXXXXe!</div>
            <% else %>
                <div align='center'>
                  <%= image_tag "#{@my_cone.image}", size: '70' %>
                </div>
            <% end %>
          </td>
          <td>
            <div align='center'>
              <% if inventory2? %>
                  <div align='center'>Thank You. Oh Moooo!</div>
              <% else %>
                  <%= form_tag(inventory_path, {:method => "get"}) do %>
                      <% @choices = %w{ 1 2 3 4 5 6 7 8 9 10 } %>
                      <%= select_tag(:quant_dd, options_for_select(@choices, '1')) %>

                      <%= hidden_field_tag :pid, @my_cone.id %>
                      <%= hidden_field_tag :stock, @my_cone.stock %>

                      <%= submit_tag 'Add Inventory', {:name => 'inventory_btn'} %>
                      <%= submit_tag 'Back To Treats', {:name => 'back_btn'} %>
                  <% end %>
              <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="red" align='center'><%= @my_cone.pname %></div>
          </td>
          <td>
            <div align='center'></div>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <div align="center">
        <table width="960" border="0" bordercolor="#ffffff" align="center" cellpadding="5" cellspacing="0">
          <tr>
            <th>
              <div align="center">Treat Name</div>
            </th>
            <th>
              <div align="center">Flavor</div>
            </th>
            <th>
              <div align="center">Number Of Scoops</div>
            </th>
            <th>
              <div align="center">Price</div>
            </th>
            <th>
              <div align="center">Stock</div>
            </th>
          </tr>
          <% Cone.all.each do |dd| %>
              <% if dd.id == @my_cone.id %>
                  <tr class="red">
              <% else %>
                  <tr>
              <% end %>
              <td align="center"><%= dd.pname %></td>
              <td align="center"><%= dd.flavor %></td>
              <td align="center"><%= dd.scoops %></td>
              <td align="center"><%= number_to_currency(dd.price) %></td>
              <td align="center"><%= dd.stock %></td>
              </tr>
          <% end %>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div align="center"><%= image_tag 'bottom-banner.gif' %></div>
    </td>
  </tr>
</table>
