<head>
  <style>
      div.my_red {
          color: maroon;
      }

      span.red {
          color: red;
      }

      span.small_red {
          font-size: 80%;
          color: red;
      }

      td {
          text-align: center;
          padding: 15px;
      }
  </style>
</head>
<% provide(:title, 'Final') %>
<table border="1" align="center" cellpadding="10" cellspacing="0"
       style="background-color: #B3E7FF; width: 960px; height: 700px;">
  <tr>
    <td colspan="3">
      <div align="center"><%= image_tag("main-banner.gif") %></div>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div class="my_red" align="center">
        NeverMelt ice cream was discovered accidently during
        the Great Depression (1929… not 2009…) by chemists researching the heat
        transfer properties of dairy products. Hoping to use cottage cheese as
        inexpensive building insulation, scientists gave up after mice
        repeatedly ate every speck of product out of several test homes. Today,
        we thank those far-sighted rodents for NeverMelt, the first (and only)
        ice cream that doesn't melt.
      </div>
    </td>
  </tr>
  <tr>
    <td valign="top" align="center"><h1>NeverMelt Menu</h1>
      (# scoops)<br>
      <br>

      <h2>Chocolate</h2>
      <%= image_tag("choc1.gif", :size => "50x50") %><%= image_tag("choc2.gif", :size => "50x50") %><%= image_tag("choc3.gif", :size => "50x50") %>
      <br>
      (1) Brown Derby<br>
      (2) Fudge Slide<br>
      (3) Chocozilla<br/>
      <br/>

      <h2>Strawberry</h2>
      <%= image_tag("straw1.gif", :size => "50x50") %><%= image_tag("straw2.gif", :size => "50x50") %><%= image_tag("straw3.gif", :size => "50x50") %>
      <br>
      (1) Little Red<br>
      (2) Berry Fields<br>
      (3) Red Giant<br>
      <br>

      <h2>Vanilla</h2>
      <%= image_tag("vanilla1.gif", :size => "50x50") %><%= image_tag("vanilla2.gif", :size => "50x50") %><%= image_tag("vanilla3.gif", :size => "50x50") %>
      <br>
      (1) Plain Jane<br>
      (2) Moe Betta<br>
      (3) Mt. Everest<br>
      <br/>
    </td>
    <td valign="top" width="330" align="center">
      <h1> Make Your NeverMelt Selection!</h1>
      <br/>
      Chocolate? Strawberry? Vanilla?<br/>
      Choose items from our database of treats!<br/>
      <br/>


      <%= form_tag(nevermelt_path, {:method => "get"}) do %>
          <% if first? %>
              <%= select_tag(:narrow_dd, "<option>Scoops</option><option>Flavors</option>", prompt: "Narrow By:") %>
              <%= submit_tag "Submit", {:name => "narrow_btn]"} %>
          <% end %>
          <% if second? %>
              <span class="red"><%= params[:narrow_dd] %></span>
              <% if params[:narrow_dd] == "Scoops" %>
                  <%= select_tag(:scoops_dd, options_for_select(scoops), prompt: "How Many?") %>
                  <%= submit_tag "Submit", {:name => "scoops_btn"} %>
              <% end %>
              <% if params[:narrow_dd] == "Flavors" %>
                  <%= select_tag(:flavors_dd, options_for_select(flavors), prompt: "Which One?") %>
                  <%= submit_tag "Submit", {:name => "flavors_btn"} %>
              <% end %>

          <% end %>
          <% if third? %>
              <% if params[:scoops_btn] == "Submit" %>
                  <span class="red"><%= params[:scoops_dd] %></span>
                  <%= select_tag(:flavors2_dd, options_for_select(flavors), prompt: "Which Flavor?") %>
                  <%= hidden_field_tag :scoops_dd, params[:scoops_dd] %>
                  <%= submit_tag "Submit", {:name => "flavors2_btn]"} %>
              <% end %>
              <% if params[:flavors_btn] == "Submit" %>
                  <span class="red"><%= params[:flavors_dd] %></span>
                  <%= select_tag(:scoops2_dd, options_for_select(scoops), prompt: "Scoops?") %>
                  <%= hidden_field_tag :flavors_dd, params[:flavors_dd] %>
                  <%= submit_tag "Submit", {:name => "scoops2_btn]"} %>
              <% end %>
          <% end %>
          <% if fourth? %>
              <h3><span class="red">Ok... this is it! Only one choice!</span>
              </h3>
          <% end %>
          <%= submit_tag "Reset", {:name => "reset_btn]"} %>
          <h3> Please make a selection<br/>
            from our menu!</h3>
          <table border='0' align="center">
            <tr>
              <th>Image<br><span class="small_red">(clickable)</span></th>
              <th>Name<br><span class="small_red">(clickable)</span></th>
              <th>Price</th>
            </tr>
            <% which_type.each do |dd| %>
                <tr>
                  <td><%= link_to((image_tag "#{dd.image}", size: "50"), proddetail_path(pid: dd.id)) %></td>
                  <td><%= link_to("#{dd.pname}", proddetail_path(pid: dd.id)) %></td>
                  <td><%= number_to_currency(dd.price) %></td>
                </tr>
            <% end %>
          </table>
      <% end %>


    </td>
    <td valign="top" align="center"><h1> NeverMelt Labs - 1930</h1>
      Sweet indeed! <br/>
      <br/>
      <%= image_tag "discovery.gif" %>
      <br/>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <div align="center"><%= image_tag "bottom-banner.gif" %></div>
    </td>
  </tr>
</table>
