<head>
  <style>
      span.red {
          color: red;
      }

      td {
          text-align: center;
          padding: 15px;
      }
  </style>
</head>
<% provide(:title, 'ProdDetail') %>
<% @my_cone = Cone.where({:id => params[:pid]}).first %>
<table border="1" bordercolor="#ffffff" align="center" cellpadding="10" cellspacing="0"
       style="background-color:#B3E7FF; width: 960px; height: 300px;">
  <tr>
    <td>
      <div align="center"><%= image_tag("main-banner.gif") %></div>
    </td>
  </tr>
  <tr>
    <td>
      <div align="center">
        <table width="960" border="0" bordercolor="#ffffff" align="center" cellpadding="5" cellspacing="0">
          <tr>
            <th>
              <div align="center"></div>
            </th>
            <th>
              <div align="center">Treat Name</div>
            </th>
            <th>
              <div align="center">What Is It?</div>
            </th>
            <th>
              <div align="center">Flavor</div>
            </th>
            <th>
              <div align="center">Number Of Scoops</div>
            </th>
            <th>
              <div align="center">Price</div>
            </th>
          </tr>
          <tr>
            <td>
              <div align='center'>
                <%= image_tag "#{@my_cone.image}", size: "70" %>
              </div>
            </td>
            <td>
              <div align='center'><%= @my_cone.pname %></div>
            </td>
            <td>
              <div align='center'><%= @my_cone.descrip %></div>
            </td>
            <td>
              <div align='center'><%= @my_cone.flavor %></div>
            </td>
            <td>
              <div align='center'><%= @my_cone.scoops %></div>
            </td>
            <td>
              <div align='center'><%= number_to_currency(@my_cone.price) %></div>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <h4 align="center"> Quantity in stock:&nbsp;
        <span class="red">$stock</span>
      </h4>
    </td>
  </tr>
  <tr>
    <td><h4 align="center">How many would you like?:</h4>

      <form action='buyDone.php' method='GET'>
        <div align="center"><%= image_tag "buy.gif" %>
          <br/>
          <br/>
          <select name='quant'>
            <option value='1' selected='selected'>1</option>
            <option value='2'>2</option>
            <option value='3'>3</option>
            <option value='4'>4</option>
            <option value='5'>5</option>
            <option value='6'>6</option>
          </select>
          <input type='hidden' name='pid' value='$pid'/>
          <input type='hidden' name='stock' value='$stock'/>

          <input type='submit' name='myButton' value='Purchase'/>
          &nbsp;
          <input type='submit' name='myButton' value='Back To Treats'/>
        </div>
      </form>
    </td>
  </tr>
  <tr>
    <td>
      <div align="center"><%= image_tag "bottom-banner.gif" %></div>
    </td>
  </tr>
</table>
