<% unless params[:state] %>
    <% provide(:title, '3') %>

    <h1>I hear you're planning a little trip:</h1>

    <%= form_tag(hw3_path, {:method => "get"}) do %>
        <h3><%= label_tag(:state, "Which state do you plan to visit?:") %></h3>
        <%= select_tag(:state, options_for_select([['Texas'],
                                                   ['Illinois'],
                                                   ['Arizona'],
                                                   ['North Dakota'],
                                                   ['South Dakota']], 1)) %>
        <h3><%= label_tag(:pet, "What kind of pet will you bring with you?:") %></h3>
        <%= radio_button_tag(:pet, 'dog', true) %> Dog <br>
        <%= radio_button_tag(:pet, 'cat') %> Cat <br>
        <%= radio_button_tag(:pet, 'horse') %> Horse <br>
        <%= radio_button_tag(:pet, 'fox') %> Fox <br>
        <br>
        <%= submit_tag("Send It!") %>
    <% end %>
<% end %>

<% if params[:state] %>
    <% provide(:title, '3 - 2') %>
    <% provide(:p_state, params[:state]) %>
    <% provide(:p_pet, params[:pet]) %>

    <h1>So, you're going to visit <%= params[:state] %>.</h1>
    <h3>Great, while you're there be sure to visit the
      capital <%= return_capital(yield(:p_state)) %>
      and see <%= return_attraction(yield(:p_state)) %>!</h3>
    <h3> <%= return_activity(yield(:p_pet)) %></h3>
    <h4>(I used an "if statement" and a "case statement" to build the lines
      above.)</h4>
<% end %>


<!--echo "<p>\n";-->
<!--echo "Now, let's repeat a sentence five (5) times using a \"for loop\":<br/>\n";-->
<!--echo "<br/>";-->

<!--for($i = 1; $i <= 5; $i++)-->
<!--{-->
<!--echo "This is repition #$i using a \"for loop\".<br/>\n";-->
<!--}-->
<!--echo "</p>\n";-->

<!--$j = 1;-->

<!--echo "<p>\n";-->
<!--echo "Last, I'll repeat a sentence seven (7) times using a \"while-->
<!--loop\":<br/>\n";-->
<!--echo "<br/>";-->

<!--while($j <= 7)-->
<!--{-->
<!--echo "This is repition #$j using a\"while loop\" (looks the same, huh!?).<br/>\n";-->
<!--$j++;-->
<!--}-->
<!--echo "</p>\n";-->

<!--echo "<p>\n";-->
<!--echo "<h3>Thanks! Bye!</h3>\n";-->
<!--echo "</p>\n";-->
<!--}-->
