<% unless params[:state] %>
    <% provide(:title, '3') %>

    <h1>I hear you're planning a little trip:</h1>

    <%= form_tag(hw3_path, {:method => "get"}) do %>
        <h3><%= label_tag(:state, "Which state do you plan to visit?:") %></h3>
        <%= select_tag(:state, options_for_select([['Texas'],
                                                   ['Illinois'],
                                                   ['Arizona'],
                                                   ['North Dakota'],
                                                   ['South Dakota']], 1)) %>
        <h3><%= label_tag(:pet, "What kind of pet will you bring with you?:") %></h3>
        <%= radio_button_tag(:pet, 'dog', true) %> Dog <br>
        <%= radio_button_tag(:pet, 'cat') %> Cat <br>
        <%= radio_button_tag(:pet, 'horse') %> Horse <br>
        <%= radio_button_tag(:pet, 'fox') %> Fox <br>
        <br>
        <%= submit_tag("Send It!") %>
    <% end %>
<% end %>

<% if params[:state] %>
    <% provide(:title, '3 - 2') %>

    <% if params[:state] == 'Texas' %>
        <% @capital = 'Austin' %>
        <% @attraction = 'a rodeo' %>
    <% elsif params[:state] == 'Illinois' %>
        <% @capital = 'Springfield' %>
        <% @attraction = 'the Sears Tower' %>
    <% elsif params[:state] == 'Arizona' %>
        <% @capital = 'Phoenix' %>
        <% @attraction = 'the Grand Canyon' %>
    <% else %>
        <% @capital = "(...you know, I'm not sure of the capital...)" %>
        <% @attraction = "(...and I don't know what you might visit)" %>
    <% end %>





    <% case params[:pet] %>
<% when 'dog' %>
        <% @activity = "And, get a new flea collar for your #{params[:pet]}." %>
    <% when 'cat' %>
        <% @activity = "And buy some catnip for your #{params[:pet]}." %>
    <% else %>
        <% @activity = "I don't know WHAT you can do in #{params[:state]} with a #{params[:pet]} in tow!" %>
    <% end %>

    <h1>So, you're going to visit <%= params[:state] %>.</h1>
    <h3>Great, while you're there be sure to visit the capital <%= @capital %>
      and see <%= @attraction %>! <%= @activity %></h3>
    <h4>(I used an "if statement" and a "case statement" to build the line
      above.)</h4>
<% end %>


<!--echo "<p>\n";-->
<!--echo "Now, let's repeat a sentence five (5) times using a \"for loop\":<br/>\n";-->
<!--echo "<br/>";-->

<!--for($i = 1; $i <= 5; $i++)-->
<!--{-->
<!--echo "This is repition #$i using a \"for loop\".<br/>\n";-->
<!--}-->
<!--echo "</p>\n";-->

<!--$j = 1;-->

<!--echo "<p>\n";-->
<!--echo "Last, I'll repeat a sentence seven (7) times using a \"while-->
<!--loop\":<br/>\n";-->
<!--echo "<br/>";-->

<!--while($j <= 7)-->
<!--{-->
<!--echo "This is repition #$j using a\"while loop\" (looks the same, huh!?).<br/>\n";-->
<!--$j++;-->
<!--}-->
<!--echo "</p>\n";-->

<!--echo "<p>\n";-->
<!--echo "<h3>Thanks! Bye!</h3>\n";-->
<!--echo "</p>\n";-->
<!--}-->
