<head>
  <style>
      span.ex {
          color: red;
      }
  </style>
</head>
<% provide(:title, '5') %>
<% @path = hw5_path %>
<h1>Choose An Ice Cream Cone (use the DDL if you'd like):</h1>
<%= form_tag(@path, {:method => "get"}) do %>
    <% if params[:narrow_dd].nil? or params[:reset_btn] == 'Reset' %>
        <%= select_tag(:narrow_dd, "<option>Scoops</option><option>Flavors</option>", prompt: "Narrow By:") %>
        <%= submit_tag "Submit", {:name => "narrow_btn]"} %>
    <% end %>
    <% unless params[:narrow_dd].nil? or params[:narrow_dd].empty? %>
        <span class="ex">By <%= params[:narrow_dd] %></span>
    <% end %>
    <%= submit_tag "Reset", {:name => "reset_btn]"} %>
<% end %>
