<% provide(:title, '5 - 2') %>
<% @my_cone = Cone.where({:id => params[:pid]}).first %>
<h1>Here are the details for your product:</h1>
<li><%= "Product Name: #{@my_cone.pname}" %></li>
<li><%= "Description: #{@my_cone.descrip}" %></li>
<li><%= "Flavor: #{@my_cone.flavor}" %></li>
<li><%= "Number of Scoops: #{@my_cone.scoops}" %></li>
<li><%= "Price: #{number_to_currency(@my_cone.price)}" %></li>
<li><%= "Stock on Hand: #{@my_cone.stock}" %></li>
<br/>
Image:<br>
<br/>
<%= image_tag "#{@my_cone.image}" %>
