<% provide(:title, '4') %>
<h1>Ok... let's build a drop-down list.</h1>
  And let's use the contents of this database<br/>
  to populate the list (ORDER BY dname):<br/>

<table border='1'>
  <tr>
    <th>DEPTNO</th>
    <th>DNAME</th>
    <th>LOC</th>
  </tr>

  <% Department.all.sort_by { |d| d[:dname] }.each do |dd| %>
    <%= <tr> %>
      <%= <td>dd.deptno</td> %>
      <%= <td>dd.dname</td> %>
      <%= <td>dd.loc</td> %>
    <%= </tr> %>
  <% end %>
</table>

<!--echo "<h3>And here's the drop down list<br />\n";-->
<!--echo "constructed from the table above:</h3>\n";-->

<!--echo "<form action='hw4p2.php' method='POST'>\n";-->

<!--echo "<select name='deptno'>\n";-->

<!--mysqli_data_seek($result, 0);-->

<!--while($row = mysqli_fetch_assoc($result))-->
<!--{-->
<!--extract($row);-->
<!--echo "<option value='$deptno'>$dname</option>\n";-->
<!--}-->

<!--echo "</select>";-->

<!--echo "<input type='submit' value='Select Department'/>";-->

<!--echo "</form>";-->

<!--mysqli_close($cxn);-->
<!--?>-->
