<% provide(:title, '4') %>

<h1>Ok... let's build a drop-down list.</h1>
<h3>And let's use the contents of our sample database<br/>
  to populate the list (ORDER BY dname):</h3>

<table border='10'>
  <tr>
    <th>DEPTNO</th>
    <th>DNAME</th>
    <th>LOC</th>
  </tr>

  <% @depts = Department.all.sort_by { |d| d[:dname] } %>
  <% @depts.each do |dd| %>
    <tr>
      <td><%= dd.deptno %></td>
      <td><%= dd.dname %></td>
      <td><%= dd.loc %></td>
    </tr>
  <% end %>
</table>

<h3>And here's the drop down list<br/>
  constructed from the table above:</h3>

<%= form_tag(hw4p2_path, {:method => "get"}) do %>
  <%= select_tag(:dname_dd, options_from_collection_for_select(@depts, :deptno, :dname, selected=1)) %>
  <%= submit_tag("Select Department") %>
<% end %>
