<% provide(:title, '2') %>
<h1>Who is this strange guy?:</h1>
<%= image_tag "EATBWHeadShot.JPG" %>

<h3>Doesn't matter... He says:</h3>

<%= form_tag(hw2p2_path, method: "get") do %>
    <%= label_tag(:query, "Type a sentence and I'll reverse it (50 characters max):") %>
    <br/>
    <br/>
    <%= text_field_tag(:query, nil, {:maxlength => 50, :autofocus => true}) %>
    <%= submit_tag("Send It!") %>
<% end %>
