<% provide(:title, '2 - 2') %>
<h3>Here's the sentence you sent from the first page:</h3>
<%= @forward_string = params[:q] %>
<h3>And here's the sentence changed to an array:</h3>
<%= @forward_string.split(' ') %>
<h3>Now the array reversed:</h3>
<%= @forward_string.split(' ').reverse %>
<h3>And "glued" back together (reversed) using
  your <%= @forward_string.split(' ').count %> words and "*":</h3>
<%= @forward_string.split(' ').reverse.join("*") %>
