<% provide(:title, '2 - 2') %>
<% provide(:p_query, params[:query]) %>
<h1>Here's the sentence you sent from the first page:</h1>
<%#= yield(:p_query) %>
<%= yield(params[:query]) %>
<h3>And here's the sentence changed to an array:</h3>
<%= @fa = forward_array(yield(:p_query)) %>
<h3>Or:</h3>
<ul>
  <% @fa.each_with_index do |text, index| %>
      <li><%= "[#{index}] => [#{text}]" %></li>
  <% end %>
</ul>
<h3>Now the array reversed:</h3>
<%= @ra = reversed_array(@fa) %>
<h3>Or:</h3>
<ul>
  <% @ra.each_with_index do |text, index| %>
      <li><%= "[#{index}] => [#{text}]" %></li>
  <% end %>
</ul>
<h3>And "glued" back together (reversed) using
  your <%= @ra.count %> words and "*":</h3>
<%= @ra.join("*") %>
